<!DOCTYPE html>
<html>
    <%- include("partials/formheader.ejs") %>
<body>
    <header>
        <h1>Form Page</h1>
        <nav>
            <a href="/">Home</a>
      
        </nav>
    </header>
  
    <div class="container">
        <form action="createblog" method="POST" class="form">
            <h2>Sample Form</h2>
            <div class="form-label">Title</div>
            <input type="text" name="title" class="form-input" placeholder="Title" required>
            
            <div class="form-label">Sub-title:</div>
            <input type="text" name="subtitle" class="form-input" placeholder="Sub-Title" required>
            
            <div class="form-label">Description:</div>
            <textarea class="form-input"  name="description"rows="4" placeholder="Your Message" required></textarea>
            
            <button type="submit" class="form-button">Submit</button>
        </form>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
