<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #444;
            padding: 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 20px;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .form {
            width: 300px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .form-label {
            font-size: 18px;
            font-weight: bold;
        }

        .form-input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .form-button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Edit Page</h1>
    </header>   
    <nav>
        <a href="/">Home</a>
  
    </nav>
    <div class="container">
        <form action="editBlog/<%-blog.id %>" method="PUT" class="form">
            <h2>Edit Form</h2>
            <div class="form-label">Title</div>
            <input type="text"  value="<%-blog.title %>" name="title" class="form-input" placeholder="Title" required>
            
            <div class="form-label">Sub-title:</div>
            <input type="text" name="subtitle" value="<%-blog.subtitle %>" class="form-input" placeholder="Sub-Title" required>
            
            <div class="form-label">Description:</div>
            <textarea class="form-input"   name="description"rows="4" placeholder="Your Message" required><%-blog.description %></textarea>
            
            <button type="submit" class="form-button">Edit Completed</button>
        </form>
    </div>
</body>
</html>
